*{
  margin: 0;
  padding: 0;
}

html,body{
  margin: 0;
  padding: 0;
}

nav{
  margin: 0;
}

p{
  font-size: 80px;
  color: orange;
}


nav ul li a p:hover{
  background-color: #345c98;
  color: white;
}

.checkbtn{
  font-size: 30px;
  color: #345c98;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
